*{
    padding:0;
    margin:0;
    box-sizing:border-box;
 }
 .content{
    background-color:black;
    color:aliceblue;
    text-align: center;
    font-size:40px;
 }
 .container{
    text-align: center;
    font-size:20px;
 }