*{
    padding:0;
    margin:0;
    box-sizing:border-box;
 }
 .content{
    background-color:black;
    color:rgb(255, 255, 255);
    text-align: center;
 }
 .container{
    color:chartreuse
 }